# WELCOME TO LAB 1 - AH2170 Transport Data collection and Analysis

# Content

1. Why Python?
2. Install Python
3. Basic operations
4. Lists, tuples and dictionnaries
5. Quick quiz
6. Control loops
7. Functions and modules
8. Quick quiz
9. Data manipulation 
10. Statistical Analysis 
11. Visualization
12. References

# PART 1

## Why Python?

Python is a programming language (like C, C++, java...), developed in 1989. Its main characteristics are as follows: 
- Open-source: its use is free and the source files are available and editable
- With a very rich/extensive libraries
- High portability: independent of the operating system (linux, windows, MacOS)
- Object-oriented 
- Dynamic typing: typing (association with a variable of its type and zone allocation memory accordingly) is done automatically during the execution of the program, this which allows great flexibility and speed of programming
- Introduces support for integrating other languages

## Install Python

The Jupyther notebook environment allows to write computer programs in Python language in a very readable and accessible way. It is available with the Anaconda distribution, which has many advantages, including that of being easy to install. You can download it at the following address:

https: //store.continuum.io/cshop/anaconda/

Once the Anaconda distribution has been downloaded and installed, you can start launching Jupyther by typing Jupyther notebook  into a terminal.

#### Other Python IDEs

You can use other Python IDEs to code, as mentionned in the following lists:
* Spyder
* PyCharm
* Atom
* Visual Studio Code

## Basic types and operations

#### Affectation

In [9]:
i = 3 
a, b=True, 3.14159
k=r=-2.15
x=complex(3,4)
s='Welcome'

In [ ]:
type(i)

In [ ]:
type(a)

In [ ]:
type(k)

In [ ]:
type(x)

In [ ]:
type(s)

#### Display

In [4]:
print(s)

NameError: name 's' is not defined

#### Addition, subtraction, multiplication, division operators

In [ ]:
i+k

In [ ]:
i-k

In [ ]:
i*k

In [ ]:
i/k

#### Power operators, absolute value

In [ ]:
i**3

In [ ]:
abs(r)

#### Comparison operators

In [ ]:
i == k

In [ ]:
r is k

In [ ]:
a != True ## is not

In [ ]:
r>=k

In [ ]:
i<2

#### Logical operators

In [1]:
(r>=k) or (i<7)

NameError: name 'r' is not defined

In [ ]:
(r>=k) and (i<2)

In [ ]:
not ((r>=k) and (i<2))

#### Conversion

In [ ]:
int(3.1415) #convert to integer

In [ ]:
float(3) #convert to real

In [ ]:
str(i) #convert to a string

## Lists, tuples and dictionnaries

#### Lists

In Python, lists are objects that can contain others. So they are sequences, like strings, but instead of containing characters, they can contain any object.

In [ ]:
[] #initialise an empty list

In [ ]:
list() #initialise an empty list

In [ ]:
['car','bike','walk'] #create a list

In [ ]:
[1,4,'car',4,'bike',['walk',6]] #may contain different objects

In [ ]:
l=[1,2,3,4,5]

In [ ]:
l[2:]=[2,2,2] #change some values
l

In [ ]:
[0]*7

In [ ]:
L1, L2 = [1,2,3], [4,5]

In [ ]:
L1+L2 #concatenate lists

In [ ]:
len(L1) #length of a list

In [ ]:
L1.append(0) #add another element to the list
L1

In [ ]:
L1.sort() #sort the list
L1

In [ ]:
L1.reverse() #inverse the order
L1

In [ ]:
L1.index(1) #return the value of the index in the list

In [ ]:
L1.remove(0) #remove the element from the list
L1

In [ ]:
L1.pop() #remove the last element of the list
L1

#### Tuples

Tuples are sequences, quite similar to lists, except that you cannot modify a tuple after it has been created. This means that you define the content of a tuple (the objects it should contain) when you create it, but you cannot add or remove it later.

In [24]:
empty_tuple = () 
non_empty_tuple = (1,) 
non_empty_tuple = 1,
tuple_with_different_values = (1, 2, 5)

In [25]:
(a, b) = (3, 4)

#### Dictionnaries

A dictionary is an extremely powerful and convenient type of data. It is similar to the lists on certain points but, on many others, it is totally different from them. Python uses this type to represent various functionalities: one can for example find the attributes of an object thanks to a particular dictionary.

We have already seen that lists are container of objects. To access these latters, you must know their position in the list. This position results in integers, called indexes, between 0 (included) and the size of the list (not included). All this you must already know.

The dictionary is also an object container. It has no ordered structure, unlike lists. Moreover, to access the objects contained in the dictionary, one does not necessarily use indexes but keys which can be of many different types.

A dictionary is a container object associating keys with values.
You can add, replace or delete an element in a dictionary.

In [ ]:
my_dict = dict() #initialize an empty dictionnary
type(my_dict)

In [ ]:
my_dict = {} #initialize an empty dictionnary
my_dict["user"] = "Emilie" #user is the key and Emilie is the value
my_dict["mode"] = "bike"   
my_dict

In [ ]:
my_dict["user"] = "Ted" #change the value of the key
my_dict

In [ ]:
my_dict["mode"]

In [ ]:
my_dict["location"]='Stockholm'

In [ ]:
flow= {"road1":3, "road2":6, "road3":7} #remove a key from a dictionnary
del flow["road1"]
flow

In [ ]:
flow= {"road1":3, "road2":6, "road3":7} #other way of removing a key from a dictionnary
flow.pop("road1")
flow

In [ ]:
trips={'Stockholm': 21, 'Helsinki': 3, 'Copenhagen':31}

In [64]:
trips.keys()

In [ ]:
trips.values()

In [ ]:
trips.items()

In [69]:
people = {1: {'name': 'Sam', 'age': '27', 'gender': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'gender': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'gender': 'Female', 'car_ownership': 'Yes'},
          4: {'name': 'Peter', 'age': '29', 'gender': 'Male', 'car_ownership': 'No'}}

In [ ]:
people[3]['car_ownership']

## Quick Quiz

In the following dictionnary, change the value of Uppsala to 9 and add a second traveler with Jackie as a name and 29 as age.

In [3]:
sampleDict = { 
   "travelers":{ 
      1:{ 
         "name":"Mike",
         "age":28,
         "trips_to":{ 
            "Uppsala":7,
            "Gothenburg":4
         }
      }
   }
}

Solution

In [12]:
sampleDict = { 
   "travelers":{ 
      1:{ 
         "name":"Mike",
         "age":28,
         "trips_to":{ 
            "Uppsala":7,
            "Gothenburg":4
         }
      }
   }
}
sampleDict.update ({"name": "Jackie", "age": "29","trips_to": {"Uppsala":9,"Goethenburg":4}})
print(sampleDict)

{'travelers': {1: {'name': 'Mike', 'age': 28, 'trips_to': {'Uppsala': 7, 'Gothenburg': 4}}}, 'name': 'Jackie', 'age': '29', 'trips_to': {'Uppsala': 9, 'Goethenburg': 4}}

## Control loops

#### If statement

In [ ]:
L = ['public transport', 'car']
if 'bike' in L:
    print ('bike')
else:
    L.append('bike')
    print(L)

In [ ]:
is_cold=False
is_hot = False
if is_hot:
    print("It is a hot day")
    print("Go to swim")
elif is_cold:
    print("It is a cold day")
    print("Stay at home")
else:
    print("It is a lovely day ")
    print("Go for hiking")

#### For loop

In [ ]:
sum = 0
for i in [1, 2, 3, 4] :
    sum += 1
    prod = 1
for p in range(1, 10) :
    prod *= p
s = 'Welcome'
for c in s :
    print (c)

In [ ]:
for x in range(2):
    for y in range (2):
        print(f"({x},{y})")

In [ ]:
L = [ x + 10 for x in range(10) ]
L

In [ ]:
trips={'Stockholm': 21, 'Helsinki': 3, 'Copenhagen':31}
for key,val in trips.items():
    print("The number of recorded trips to {} is {}.".format(key, val))

#### While loop

In [ ]:
i=1
while i<=5:
    print(i)
    i+=1
print("Done")

## Functions

In [124]:
def course():
    n='AH2170'
    i=0
    while i < len(n):
        print (n[i])
        i+=1

In [ ]:
course()

In [129]:
def course(code):
    i=0
    while i < len(code):
        print (code[i], i*'*')
        i+=1

In [ ]:
course('AH2170')

In [141]:
def op(x,i):
    return x**i

In [ ]:
op(2,5)

In [ ]:
def double_op(x,i):
    return x**i,x*i

In [ ]:
double_op(4,6)

In [ ]:
f = lambda x, i : x**i
f(2,5)

In [ ]:
def print_fib(n) :
    result, a, b = [0], 0, 1
    while b < n:
        result.append(b),
        a, b = b, a + b
    return result

In [26]:
print_fib(10)

NameError: name 'print_fib' is not defined

## Quick Quiz

Write a function called fib_list which takes a positive integer n and display the list of the n fibonacci numbers using the for loop.

$$F_0 = 0$$ 
$$F_1 = 1$$
$$F_n = F_{n-1} + F_{n-2},   n>1 $$ 

Thus, the sequence is: 0, 1, 1, 2, 3, 5, 8, ...

#### Solution

In [64]:
def fibonacci (n):
    a,b = 0,1
    for i in range (n):
        a,b=b,a+b
    return a

for i in range (10):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34


# PART 2

### Package installation for data manipulation and vizualization:

Go to home page> click on new > Terminal > 


conda install numpy 

conda install pandas

conda install matplotlib

conda install seaborn


*Alternative: Using 'pip' instead of 'conda'

## Data manipulation

In [39]:
import pandas as pd
df = pd.read_csv('datasets_448047_847654_Sweden_Vehicle Registration.csv') #Set your file path

In [40]:
df.head()

,Region,Type of Fuel,2006M01,2006M02,2006M03,2006M04,2006M05,2006M06,2006M07,2006M08,...,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,2019M10,2019M11
0,Stockholm,petrol,2824,3431,4291,4872,5819,5648,3450,4087,...,3068,3780,3695,4931,4453,3337,3715,3498,3622,3469
1,Stockholm,diesel,884,895,1022,1059,1160,1059,783,1060,...,3237,4445,4473,4929,4427,2668,3007,2746,3490,3331
2,Stockholm,electricity,1,0,0,0,0,0,0,0,...,300,797,443,440,602,379,374,751,340,355
3,Stockholm,electric hybrid,101,87,131,102,95,118,72,108,...,312,355,515,666,729,850,777,838,887,938
4,Stockholm,plug-in hybrid,0,0,0,0,0,0,0,0,...,1126,1386,950,917,932,667,858,944,1496,2011

In [41]:
df.shape

(2512, 169)

In [42]:
df.size

424528

In [43]:
df.columns

Index(['Region', 'Type of Fuel', '2006M01', '2006M02', '2006M03', '2006M04',
       '2006M05', '2006M06', '2006M07', '2006M08',
       ...
       '2019M02', '2019M03', '2019M04', '2019M05', '2019M06', '2019M07',
       '2019M08', '2019M09', '2019M10', '2019M11'],
      dtype='object', length=169)

In [44]:
df.isna().sum()

Region          0
Type of Fuel    0
2006M01         0
2006M02         0
2006M03         0
               ..
2019M07         0
2019M08         0
2019M09         0
2019M10         0
2019M11         0
Length: 169, dtype: int64

In [45]:
df['Type of Fuel'].unique()

array(['petrol', 'diesel', 'electricity', 'electric hybrid',
       'plug-in hybrid', 'ethanol/ethanol flexifuel', 'gas/gas flex',
       'other fuels'], dtype=object)

In [46]:
df.groupby('Region')['2006M01'].sum().sort_values(ascending=False)

Region
Stockholm       6836
Västra          3448
Skåne           2642
Jönköping       1552
Uppsala         1043
                ...
Sorsele            0
Ljusnarsberg       0
Älvsborg           0
Överkalix          0
Skaraborg          0
Name: 2006M01, Length: 307, dtype: int64

In [47]:
type(df.groupby('Region')['2006M01'].sum())

pandas.core.series.Series

In [48]:
df._get_numeric_data().columns

Index(['2006M01', '2006M02', '2006M03', '2006M04', '2006M05', '2006M06',
       '2006M07', '2006M08', '2006M09', '2006M10',
       ...
       '2019M02', '2019M03', '2019M04', '2019M05', '2019M06', '2019M07',
       '2019M08', '2019M09', '2019M10', '2019M11'],
      dtype='object', length=167)

In [49]:
new_df=df.groupby('Type of Fuel')[df._get_numeric_data().columns].sum()
new_df.head()

,2006M01,2006M02,2006M03,2006M04,2006M05,2006M06,2006M07,2006M08,2006M09,2006M10,...,2019M02,2019M03,2019M04,2019M05,2019M06,2019M07,2019M08,2019M09,2019M10,2019M11
Type of Fuel,,,,,,,,,,,,,,,,,,,,,
diesel,7041,6888,9528,9196,10336,10680,8178,9238,10876,12352,...,17654,21540,23961,23346,21416,14705,17575,14576,18078,17938
electric hybrid,432,326,428,478,520,614,448,554,586,332,...,2476,3720,4390,5324,5268,5256,6226,5948,6994,7236
electricity,4,0,0,0,0,0,0,0,0,0,...,1804,4214,2754,2510,3384,2166,1942,3528,1696,2124
ethanol/ethanol flexifuel,3292,3596,6330,4210,4962,4938,3372,4172,4122,3638,...,16,24,14,30,12,8,414,362,252,364
gas/gas flex,336,468,508,740,1060,796,396,362,638,722,...,192,404,562,894,1220,702,1906,1298,1064,728

In [50]:
new_df=new_df.T

In [51]:
new_df.index.names = ['Date']
new_df.columns.names = ['']
new_df.head()

,diesel,electric hybrid,electricity,ethanol/ethanol flexifuel,gas/gas flex,other fuels,petrol,plug-in hybrid
Date,,,,,,,,
2006M01,7041,432,4,3292,336,6,27234,0
2006M02,6888,326,0,3596,468,0,29374,0
2006M03,9528,428,0,6330,508,2,39218,0
2006M04,9196,478,0,4210,740,0,42878,0
2006M05,10336,520,0,4962,1060,0,48234,0

## Statistical analysis

In [52]:
average = new_df['diesel'].mean()
average

25278.335329341317

In [53]:
median = new_df['diesel'].median()
median

25843.0

In [54]:
std = new_df['diesel'].std()
std

9487.792531236786

In [55]:
new_df.describe()

,diesel,electric hybrid,electricity,ethanol/ethanol flexifuel,gas/gas flex,other fuels,petrol,plug-in hybrid
count,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
mean,25278.335329,1501.095808,404.664671,2736.592814,737.982036,4.874251,22702.377246,966.347305
std,9487.792531,1460.326153,729.336170,3234.331459,364.773118,4.254239,8149.379845,1443.508397
min,6310.000000,218.000000,0.000000,8.000000,94.000000,0.000000,9744.000000,0.000000
25%,17233.000000,556.000000,2.000000,207.000000,449.000000,2.000000,17062.000000,0.000000
50%,25843.000000,838.000000,56.000000,744.000000,708.000000,4.000000,21400.000000,134.000000
75%,33130.000000,2069.500000,520.000000,4929.000000,1007.000000,8.000000,27041.000000,1711.500000
max,58596.000000,7236.000000,4214.000000,12862.000000,1906.000000,20.000000,64461.000000,6512.000000

## Visualization

In [105]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set(style="darkgrid")

In [ ]:
new_df.hist(figsize=(16, 9), color = 'purple')

In [ ]:
sns.distplot(new_df['petrol'])

In [ ]:
sns.jointplot(x="electricity", y="petrol", data=new_df, color="purple")

In [ ]:
sns.boxplot(x=new_df['petrol'])

In [ ]:
new_df.plot(kind='box',figsize=(14,8))
plt.show()

In [171]:
#sns.pairplot(new_df)

In [ ]:
ts = pd.Series(new_df['diesel'].to_numpy(), index=pd.date_range('1/1/2006', periods=167, freq='M'))

In [173]:
ts

In [ ]:
ts.plot(figsize=(14,8))

In [176]:
df = pd.DataFrame(new_df.to_numpy(), index=pd.date_range('1/1/2006', periods=167, freq='M'), columns=new_df.columns)

In [ ]:
df.plot(figsize=(14,8))

In [56]:
pip install geopy

Collecting geopy
  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e1/58/9289c6a03116025cdb61461d99b2493daa4967a80b13755463d71a0affeb/geopy-2.4.0-py3-none-any.whl.metadata
  Downloading geopy-2.4.0-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
     ---------------------------------------- 40.3/40.3 kB 1.9 MB/s eta 0:00:00
Downloading geopy-2.4.0-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 125.4/125.4 kB 3.7 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

NameError: name 'fib' is not defined

# References

* Python for Data Analysis, 2nd Paperback, 2017 by Wes McKinney
* Check Numpy and Pandas sheets in Canvas
* Seaborn: statistical data visualization https://seaborn.pydata.org/
* Plotly Python Open Source Graphing Library (for interactive viz) https://plotly.com/python/